
#home{
  height:100vh;
  width:100%;
  background:transparent;
  transition: all 0.45s ease-in-out;
  z-index: 2;
  transform-style: preserve-3d;
  }
  
  .titleAndImage{
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: 2.75fr 6fr;
    align-items:flex-start;
  }
  .title{
    display: grid;
    justify-items: start;
    padding: 6% 0% 0% 2%;
  }
  .title h1{
    font-size: 3vmax;
    margin:0 2%;
    color:white;
    font-family: 'Fredoka', sans-serif;
    text-transform: capitalize;
    font-style:oblique;
    transition: all 0.3s ease-in-out;
    /* text-shadow: 0.05vw 0.05vw white , -0.05vw -0.05vw white; */
  }
  .name{
    font-family: 'Rampart One', cursive;
    font-size: 3vmax;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    color:black;
    font-style: normal;
    text-shadow: none;
    text-shadow: 0.05vw 0.05vw white , -0.05vw -0.05vw white;
    /* transform-style:preserve-3d; */
  }
  .name:hover{
    color:white;
    font-family: 'Zen Tokyo Zoo', cursive;
    text-shadow: 0.05vw 0.05vw black , -0.05vw -0.05vw black;
  }
.role{
    margin: 0 0 0 2%;
    padding: 0 2% 0 0;
    font-family:'Fredoka', sans-serif;
    font-size: 2vmax;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    font-style: oblique;
    color:white;
    text-shadow: 0.25vw 0.25vw black;
    overflow: hidden;
    animation: open-close infinite 3.512s ease;
}
@keyframes open-close {
  from{
    opacity:0;
  }
  50%{
    opacity:1;
  }
  to{
    opacity:0;
  }
}
.role:hover{
     transform: scale(1.05);
     color:black;
     text-shadow: 0.12vw 0.12vw white;
     /* font-family: 'Rampart One', cursive; */
     /* text-decoration:underline black; */
}
.image{
  width:100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background:transparent;
  overflow: hidden;
  display: grid;
  place-items: center;
}
/* .image:hover{
  background: white;
} */
.myImage{
  width:96%;
  height:96%;
  /* border: 2% solid red; */
  border-radius: 3vmax;
  background: white;
  object-fit:cover;
  object-position:0%;
  transition: all 1s ease-in-out;
  animation: image-enter 3.6s ease;
}
@keyframes image-enter {
  from{
    opacity: 0;
    /* transform: translateX(100%); */
  }
  to{
    opacity:1;
    /* transform: translateX(0%); */
  }
}
.myImage:hover{
  object-position: right;
  /* transform: translate(-120px,-120px) */
}

.About{
  margin: 3% 2%;
}
.About>h2,
.About>h3{
  margin:0;
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 3vmax;
}
.About>h3{
  font-family: 'Rampart One', cursive;
  font-size:1.5vmax;
  color: white;
}
.About>h2>span{
   color:white;
}
.About>p{
  width:90%;
  font-size: 2vmax;
  font-family: 'Fredoka', sans-serif;
  color: white;
  text-align: justify;
  margin-top: 0;
  padding-left: 2%;
}
.About p::first-letter{
   font-size: 3.2vmax;
   padding-left: 6%;
   font-family: 'Rampart One', cursive;
}
.About span{
  color:black;
}
.About button{
  background-color: transparent;
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 1.55vmax;
  padding: 1% 3%;
  margin:0% 1%;
  border-radius: 3vmax;
  transition: all 0.45s ease-in-out;
  border: 3px solid white;
  color:white;
  cursor: pointer;
}
.About button:hover{
  background: white;
  transform: scale(1.1);
  color: black;
}
.About button:hover>a{
  color:black;
}
.About a{
  text-decoration: none;
  color:white;
}
/* .navInfo{
  padding-left:62%;
  padding-top: 4%;
  font-size: 1vmax;
  color:white;
  font-weight: bolder;
} */


@media only screen and (max-width: 1500px){
  .title h1{
    font-size: 6.5vmin;
   }
  .name{
    font-size: 5vmax;
  }
  .role{
     font-size: 3.6vmin;
  }
  .About h2,.About h2>span{
    font-size: 5vmin;
  }
  .About span{
    font-size: 3vmin;
  }
  .About p{
    font-size: 3vmin;
  }
  .About button{
    font-size: 4vmin;
  }
  .myImage{
    object-position:15%;
  }
}
@media only screen and (max-height: 900px){
 
  .title{
    padding-top: 3%;
  }
  .title h1{
    font-size: 5.5vmin;
   }
   .name{
    font-size: 4vmax;
  }
   .About h2,.About h2>span{
    font-size: 5.5vmin;
  }
  .About p{
    font-size: 3.25vmin;
  }
  .role{
    font-size: 4vmin;
 }
 .About button{
  font-size: 3.6vmin;
}
 .myImage{
   object-position:5%;
 }
 .titleAndImage{
  grid-template-columns: 2.5fr 6fr;
}
}
@media only screen and (max-width: 1300px){
  .title h1{
    font-size: 6vmax;
   }
  .name{
    font-size: 5vmax;
  }
  .role{
     font-size: 4vmin;
  }
  .About h2,.About h2>span{
    font-size: 5.5vmin;
  }
  .About span{
    font-size: 3.5vmin;
  }
  .About p{
    font-size: 2.75vmin;
  }
  .About button{
    font-size: 3.5vmin;
  }
  .myImage{
    object-position:36%;
  }
}
@media only screen and (max-width: 1100px){
  .title h1{
    font-size: 5vmin;
   }
   .About h2,.About h2>span{
    font-size: 5vmin;
  }
  .About p{
    font-size: 3vmin;
  }
 
  .myImage{
    object-position:44%;
  }
}

@media only screen and (max-width: 900px){
  .titleAndImage{
    grid-template-columns: 1fr;
    align-content: center;
  }
  .image{
    display: none;
  }
  .title h1{
    font-size: 6vmin;
   }
   .name{
    font-size: 5.25vmax;
  }
   .About h2,.About h2>span{
    font-size: 5.5vmin;
  }
  .About p{
    font-size: 4vmin;
  }
  .role{
    font-size: 4vmin;
 }
 .About button{
  font-size: 3vmin;
}

}
@media only screen and (max-width: 600px){

  .title h1{
    font-size: 6vw;
   }
   .name{
    font-size: 8vw;
    
  }
   .About h2,.About h2>span{
    font-size: 8vw;
  }
  .About p{
    font-size: 5vw;
  }
  .About span{
    font-size: 4vw;
  }
  .role{
    font-size: 3vmax;
 }
 .About button{
  font-size: 3vmax;
} 
 
}

  /* font-family: 'Akronim', cursive;
font-family: 'Fredoka', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Vujahday Script', cursive;
font-family: 'Zen Tokyo Zoo', cursive; */

