
.navBar{
    position:fixed;
    z-index: 6;
    top: 84%;
    height:680px;
    width:1200px;
    background:red;
    border:3px solid black;
    border-radius: 100%;
    transition: all 0.45s ease-in-out;
    display: grid;
}
.navButtons{
    position:absolute;
    margin:1% 10%;
    height:666px;
    width:950px;
    background: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    transition: all 0.2s ease-in-out;
}
.navButtons button{
    border:none;
    background: white;
    -webkit-background-clip:text;
    background-clip: text;
    color:transparent;
    font-size: 3.8vh;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}
.navButtons button:first-child, 
.navButtons button:last-child{
    margin-top: 6.5vh;
}
.navButtons button:nth-child(2),
.navButtons button:nth-child(4){
    margin-top: 1.5vh;
}
.navButtons button:hover{
    transform: scale(1.30);
    color:white;
    /* background: transparent; */
    /* -webkit-background-clip:text;
    background-clip: text; */
}

.navButtons button:focus{
    outline: none;
}

.innerNav{
    background: white;
    width:850px;
    height:470px;
    position:relative;
    align-self: center;
    justify-self: center;
    border:3px solid black;
    border-radius: 100%;
}

@media only screen and (max-height: 900px){
    .innerNav{
        display: none;
    }
    .navBar{
        top:90%;
        height:10%;
        width:100%;
        border-radius: 0%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    .navButtons{
        height: 50%;
        width: 100%;
        border-radius: 0%;
        display: flex;
        align-items: center;
        margin: 1% 1%;
    }
    .navButtons button{
     font-size: 5vmin;
    }
    .navButtons button:first-child, 
    .navButtons button:last-child{
        margin-top: 0vh;
 }
    .navButtons button:nth-child(2),
    .navButtons button:nth-child(4){
        margin-top: 0vh;
 }
}
@media only screen and (max-width: 900px){
   .innerNav{
       display: none;
   }
   .navBar{
       top:92%;
       height:8%;
       width:100%;
       border-radius: 0%;
       border-top-left-radius: 50%;
       border-top-right-radius: 50%;
   }
   .navButtons{
       height: 50%;
       width: 100%;
       border-radius: 0%;
       margin:2.5% 0%;
   }
   .navButtons button{
    font-size: 3.5vh;
   }
   .navButtons button:first-child, 
   .navButtons button:last-child{
       margin-top: 0vh;
}
   .navButtons button:nth-child(2),
   .navButtons button:nth-child(4){
       margin-top: 0vh;
}
  }
