
#projects{
    height:100vh;
    width:100%;
    background:transparent;
    transition: all 0.45s ease-in-out;
    z-index: 2;
}
.projectInfo{
    width:100%;
    height:100%;
    overflow: hidden;
    display:grid;
    place-content: center;
    text-align: center;
    transition: all 0.4s ease-in-out;
}
.projectInfo>h1{
    margin: 3% 0%;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 2vmax;
    transition: all 0.4s ease-in-out;
    color:black;
    animation: fall-in 0.3s ease-in-out;
}
.projectInfo>h3{
    color:black;
    font-family: 'Rampart One', cursive;
    animation: fall-in 0.35s ease-in-out;
}
.projectInfo>h1:hover{
    transform: scale(1.2);
}
.skillsUsed{
    height: 23vh;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
.skillsUsed>span{
    margin:1%;
    padding:1%;
    background:transparent;
    font-family: 'Rampart One', cursive;
    font-size: 1.1vmax;
    color:black;
    border-radius: 0.5rem;
    transition: all 0.4s ease-in-out;
}
.skillsUsed>span:hover{
    color:white;
    background:black;
}
.skillsUsed:hover{
    height: 23vh;
}
.skillsUsed>h1{
    margin: 3% 0%;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 3vmax;
    transition: all 0.4s ease-in-out;
    animation: fall-in 0.4s ease-in-out;
    color:black;
}
.skillsUsed>h1:hover{
    transform: scale(1.2);
}
.concepts{
    height: 25vh;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
/* .concepts:hover{
    height:25vh;
} */
.concepts>h1{
    margin: 3% 0%;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 3vmax;
    transition: all 0.4s ease-in-out;
    animation: fall-in 0.4s ease-in-out;
    color:black;
}
.concepts>h1:hover{
    transform: scale(1.03);
}
.concepts>span{
    margin:1%;
    padding:1%;
    background:transparent;
    font-family: 'Rampart One', cursive;
    font-size: 1.1vmax;
    color:black;
    border-radius: 0.5rem;
    transition: all 0.4s ease-in-out;
}
.concepts>span:hover{
    color:white;
    background-color:black;
}
.projectLinks>button{
    border:none;
    padding:2%;
    margin:3% 2%;
    border-radius: 3vmax;
    background:black;
    border: 3px double white;
    border-width: 5px;
    transition: all 0.4s ease-in-out;
    animation: fall-in 0.5s ease-in-out;
}
.projectLinks>button:hover{
    transform: scale(1.2);
}
.projectLinks>button:hover a{
    font-size: 2vmax;
}
.projectLinks>button:nth-child(1) a::after{
    content:"🔗";
}
.projectLinks a{
    text-decoration: none;
    color:white;
    font-family: 'Rampart One', cursive;
    font-size: 1.2vmax;
    transition: all 0.4s ease-in-out;
    animation: fall-in 0.5s ease-in-out;
}

.skillTitle:hover strike{
    color:black;
}
.fullStack{
    font-family: 'Rampart One', cursive;
    font-size: 2.5vmax;
    color: white;
    text-transform: uppercase;
}
.onGoing,
.completed1,
.completed2{
    width:96%;
    height:33%;
    margin:1% 1%;
    overflow: hidden;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 2%;
    transition: all 0.4s ease-in-out;
    align-items: center;
    animation: slideRight 1.4s ease-in-out;
}
.completed2{
    grid-template-columns:repeat(4,1fr);
    animation: slideLeft 1.4s ease-in-out;
}
.onGoing >img,
.completed1 > img,
.completed2>img{
    height:30vh;
    object-fit:cover;
    Object-position:left;
    /* border: 5px solid black; */
    border-radius: 5vmax;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    filter: invert(100%) grayscale(0.6);
    transition: all 0.6s ease-in-out;
}
.completed1>img,.onGoing>img{
    width:97%
}
.completed2>img{
    width:95%;
}
.project:first-child{
    justify-self: end;
}
.project:hover{
    transform: scale(1.03);
    filter: invert(0) grayscale(0) brightness(1.25) ;
    Object-position:center;
    z-index: 2;
}

  @media only screen and (max-width: 1500px){
    .projectInfo>h1{
        font-size: 2.5vmax;
    }
    .projectInfo>h3{
        font-size:1.30vmax;
    }
    .skillsUsed{
        height:25vh;
    }
    .skillsUsed>h1{
        font-size: 3.2vmax;
    }
    .skillsUsed span{
        font-size: 1.8vmax;
    }
    .concepts{
        height:26vh;
    }
    .concepts>h1{
        font-size: 3.2vmax;
    }
    .concepts span{
        font-size: 1.8vmax;
    }
    .projectLinks a{
        font-size: 1.5vmax;
    }
    .projectLinks>button:hover a{
        color:black;
        font-size: 2vmax;
    }
  } 
  @media only screen and (max-width: 1300px){
    .projectInfo>h1{
        font-size: 2.5vmax;
    }
    .projectInfo>h3{
        font-size:1.30vmax;
    }
    .skillsUsed{
        height:25vh;
    }
    .concepts{
        height:26vh;
    }
    .projectLinks a{
        font-size: 1.75vmax;
    }
    .projectLinks>button:hover a{  
        font-size: 2.25vmax;
    }
  }
  @media only screen and (max-width: 1100px){
    .projectInfo>h1{
        font-size: 2.75vmax;
    }
    .projectInfo>h3{
        font-size:1.50vmax;
    }
    .skillsUsed{
        height:20vh;
    }
    .concepts{
        height:25vh;
    }
    .projectLinks a{
        font-size: 2vmax;
    }
    .projectLinks>button:hover a{  
        font-size: 2.5vmax;
    }
  }
  @media only screen and (max-height: 900px){  
    .projectInfo{
        align-content: flex-start;
    }
    .projectInfo>h1{
        font-size: 4vmin;
    }
    .projectInfo>h3{
        margin-top:0%;
        font-size:2.25vmin;
        color:black;
    }
    .skillsUsed{
        height:27.5vh;
        justify-self: stretch;
    }
    .skillsUsed:hover{
        height:27.5vh;
    }
    .skillsUsed>h1{
        font-size: 4.5vmin;
        /* color:red; */
    }
    .skillsUsed span{
        font-size: 2.5vmin;
        /* color:white;
        background:black */
    }
    .concepts{
        height:27.5vh;
        justify-self: stretch;
    }
    .cooncepts:hover{
        height:27.5vh;
    }
    .concepts>h1{
        font-size: 4.25vmin;
        /* color:red; */
    }
    .concepts span{
        font-size: 2.5vmin;
        /* color:white;
        background:black */
    }
    .projectLinks a{
        font-size: 3.6vmin;
    }
    .projectLinks>button:hover a{  
        font-size: 1.75vmax;
    }
    .projectLinks>button{
        border:none;
        padding:2%;
        margin:3% 1%;
    }
  }
  @media only screen and (max-width: 900px){  
    .projectInfo>h1{
        font-size: 4vmax;
    }
    .projectInfo>h3{
        font-size:2.5vmax;
    }
   
    .skillsUsed{
        height:25vh;
    }
    .skillsUsed>h1{
        font-size: 3.5vmax;
    }
    .skillsUsed span{
        font-size: 2vmax;
    }
    .concepts{
        height:25vh;
    }
    .concepts>h1{
        font-size: 3.5vmax;
    }
    .concepts span{
        font-size: 2vmax;
    }
    .projectLinks a{
        font-size: 2.5vmax;
    }
    .projectLinks>button:hover a{  
        font-size: 3vmax;
    }
    .onGoing,
    .completed1,
    .completed2{
         height:25vh;
     }
    
     .onGoing >img,
     .completed1 > img,
     .completed2>img{
          height:22vh;
          object-position: top;
     }
     .fullStack{
        font-size: 4vmin;
        margin-left: 3%;
    }
  }
  @media only screen and (max-width: 600px){
    .projectInfo{
        align-content: center;
    }
    .projectInfo>h1{
        font-size: 4vmax;
    }
    .projectInfo>h3{
        font-size:2vmax;
    }
   
    .skillsUsed{
        height:28vh;
    }
    
    .skillsUsed>h1{
        font-size: 4vmax;
    }
    .skillsUsed span{
        font-size: 2.5vmax;
    }
    .concepts{
        height:28vh;
    }
    /* .concepts:hover{
        height:36vh
    } */
    .concepts>h1{
        font-size: 4vmax;
    }
    .concepts span{
        font-size: 2.5vmax;
    }
    .projectLinks a{
        font-size: 3vmax;
    }
    .projectLinks>button:hover a{  
        font-size: 2.5vmax;
    }
    .onGoing,.completed1,.completed2{
        grid-template-columns: 1fr;
    }
    .onGoing,
    .completed1{
         height:50vh;
     }
     /* .onGoing{
         width:100%;
     } */
     .completed2{
        height:100vh;
    }
     .onGoing>img{
         width:97%;
     }
     .onGoing >img,
     .completed1 > img{
          height:22vh;
     }
     .completed2>img{
        height:22vh;
        width: 98%;
   }
  }


/* font-family: 'Akronim', cursive;
font-family: 'Fredoka', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Vujahday Script', cursive;
font-family: 'Zen Tokyo Zoo', cursive; */
